<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Hata ile karşılaşıldı</h1>
        <h2>Beklenilmeyen bir hata ile karşılaşıldı, lütfen veri giriş alanlarını doğru doldurp doldumadığınız, resim eklediyseniz doğru resim formatı olup olmadığını, düzenleme ekranındaysanız tekrar resim seçmeyi unutmayınız. Karşılaşılan bu hata ile ilgil admine bilgilendirme maili ulaştırılmıştır hata en kısa sürede incelenip düzeltilecektir.</h2>
    </hgroup>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 urunSatiri">
            <input type="submit" value="Giriş" class="stylebutton" /> @Html.ActionLink("Ana Sayfaya Git", "Index")
        </div>
    </div>

</body>
</html>
